body {
  font-size: 14px;
}

#cv {
  display: block;
  margin: 50px auto 20px;
  border: 1px solid black;
}

#container {
  position: relative;
  width: 600px;
  margin: 0 auto;
}

.input-div {
  display: inline-block;
}

.input-div input {
  margin-right: 20px;
  outline: none;
  width: 50px;
  border: none;
  border-bottom: 1px solid;
}

.button {
  outline: none;
  position: absolute;
  right: 0;
  border-radius: 3px;
}