body, html {
  font-size: 12px;
  width: 100%;
  background: #f2f3f4;
}

a {
  text-decoration: none;
}

p {
  margin-bottom: 5px;
}

ul {
  margin: 0;
  list-style-type: none;
  padding-left: 0;
}

input {
  outline: none;
}

.header-top-left {
  float: left; 
}

.header-top-left a {
  color: #6C6C6C;
}

.header-top-left a:hover {
  color: #f39b03;
}

.header-top-left span:nth-child(2) {
  color: #aaa;
  margin-left: 15px;
}

.header-top-right {
  float: right;
}

.header-top-right li {
  display: inline;
  margin: 0 10px;
}

.header-top {
  color: #6C6C6C;
  background: #f2f2f2;
  border-bottom: 1px solid #e5e5e5;
  overflow: hidden;
  line-height: 25px;
}

.header-top-container, .header-logo-container, .header-trip-box, .header-market,
.banner, .special, .market, .around, .hotel, .flight, .advertise, .relative-company {
  width: 1190px;
  margin: 0 auto;
}

.drop-down {
  position: relative;
}

.drop-down::after, .drop-down::before {
  border: 4px solid transparent;
  position: absolute;
  top: 50%;
  content: ' ';
  margin-top: -2px;
}

.drop-down::before {
  border-top-color: #6C6C6C;
  right: -9px;
}

.header-logo-image {
  width: 230px;
  height: 53px;
  float: left;
}

.header-market-wrapper, .header-logo-wrapper, .around-wrapper, .flight-wrapper,
.special-content-wrapper, .market-content-wrapper, .hotel-wrapper {
  background: #fff;
  overflow: hidden;
}

.header-logo {
  height: 72px;
  margin-top: 9px;
}

.header-logo-tel {
  float: right;
}

.header-logo-tel-image {
  width: 12px;
  height: 12px;
}

.header-logo-tel-list {
  display: inline-block;
  position: relative;
  right: 100px;
  margin: 12px 0;
}

.header-logo-tel-list li {
  margin: 5px 0;
}

.header-logo-tel-list li:last-child {
  padding-left: 16px;
}

.header-trip {
  background-color: #ffc900;
  height: 30px;
  font-size: 16px;
  font-family: "pingfang sc","Microsoft YaHei",simsun;
}

.header-trip-box {
  padding-top: 6px;
}

.header-trip-box li {
  display: inline;
  margin-right: 8px;
}

.header-trip-box a {
  color: black;
  padding: 0 6px;
}

.header-trip-box a:hover {
  background: #fff;
  border-radius: 4px;
}

.header-market {
  line-height: 40px;
}

.header-market-box {
  padding: 0;
}

.header-market-box li {
  display: inline;
}

.header-market-content {
  padding: 0 18px;
}

.header-market-box a {
  color: #666;
  margin-left: 3px;
}

.header-market-box img {
  width: 12px;
  height: 13px;
  vertical-align: middle;
}

.header-market-box li:first-child img{
  width: 70px;
  height: 16px;
  vertical-align: middle;
}

.header-market-box li:first-child {
  padding-bottom: 4px;
  border-left: solid #ffc900 4px;
}

.ticket {
  float: left;
  width: 682px;
  background: #fff;
}

.ticket-nav {
  float: left;
  height: 299px;
  width: 89px;
  padding: 0;
  line-height: 42px;
  text-align: center;
  font-size: 14px;
  background: #3d3d3d;
  color: #fff;
  cursor: pointer;
}

.ticket-nav li:hover {
  background: #fff;
  color: #6c6c6c;
}

.banner {
  overflow: hidden;
  margin-top: 10px;
}

.banner > img {
  float: right;
  width: 490px;
  height: 300px;
}

.ticket-detail {
  position: relative;
  margin-left: 89px;
  color: #6c6c6c;
  height: 299px;
  box-shadow: 0 2px 2px rgba(0,0,0,.12);;
}

.ticket-place {
  padding: 0;
  font-size: 14px;
  border-bottom: 1px solid #e1e1e1;
}

.ticket-place li {
  display: inline-block;
  cursor: pointer;
  margin-left: 15px;
  line-height: 39px;
  height: 39px;
  padding: 0 5px;
  border-bottom: 3px solid transparent;
}

.ticket-place li:hover {
  border-bottom-color: #ffc900;
}

.ticket-radio {
  color: #000;
  padding: 10px 0 0 25px;
}

.ticket-radio-button {
  margin-right: 18px;
}

.ticket-radio-button input {
  margin-right: 6px;
}

.ticket-radio-label {
  float: right;
  margin-right: 25px;
  color: #f39b03;
}

.ticket-radio-label:hover {
  text-decoration: underline;
}

.ticket-info {
  padding-left: 25px;
}

.ticket-info input {
  padding: 0 5px;
  height: 30px;
  font-size: 14px;
  width: 246px;
  border: 1px solid #c7d1e4;
  border-radius: 3px;
  background: url(//img.alicdn.com/tps/i1/TB1H3zaFVXXXXXUXpXXPqXt1pXX-1000-500.png) no-repeat;
}

.ticket-info-city {
  margin-right: 32px;
}

.ticket-info-detail {
  width: 250px;
  display: inline-block;
}

.ticket-info-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.ticket-info-bottom img {
  height: 24px;
  width: 14px;
  position: absolute;
}

.ticket-about {
  position: relative;
  color: #a5a5a5;
  background: #f2f3f4;
  line-height: 24px;
  padding: 3px 0 3px 24px;
}

.ticket-about li {
  display: inline;
  cursor: pointer;
}

.ticket-about li:hover {
  text-decoration: underline;
}

.ticket-about li::after {
  content: "  |";
}

.ticket-about li:last-child::after, .ticket-about li:first-child::after {
  content: "";
}

.ticket-about li:nth-child(2) {
  margin-left: 20px;
}

.ticket-info-ad {
  position: absolute;
  left: 22px;
  bottom: 46px;
}

.ticket-info-search {
  position: absolute;
  bottom: 53px;
  right: 22px;
  width: 160px;
  background: #FFC300;
  font-size: 16px;
  padding: 8px 8px; 
  text-align: center;
  border-radius: 4px;
  color: #3d3d3d;
  box-shadow: 0 2px 0 #EEB600;
}

.special-title-list, .hotel-title-list, .flight-title-list {
  display: inline-block;
  margin-left: 44px;
  font-size: 14px;
  font-weight: 300;
}

.special-title-list li, .hotel-title-list li, .flight-title-list li {
  display: inline-block;
  line-height: 36px;
  margin-right: 10px;
  border: 4px solid transparent;
  cursor: pointer;
}

.special-title-list li:hover, .hotel-title-list li:hover, .flight-title-list li:hover {
  border-bottom-color: #EEB600;
}

.special-logo, .around-logo, .hotel-logo, .flight-logo {
  background: url(https://gw.alicdn.com/tfs/TB1oLOePXXXXXbnXFXXXXXXXXXX-36-336.png) no-repeat;
  width: 18px;
  background-size: 18px auto;
  height: 20px;
  display: inline-block;
  position: relative;
  top: 3px;
}

.special-title-label, .around-title-label, .hotel-title-label, .flight-title-label {
  display: inline;
}

.special-more, .around-more, .hotel-more, .flight-more {
  float: right;
  font-size: 14px;
  font-weight: 300;
  cursor: pointer;
}

.flight-more {
  margin-right: 12px;
}

.special-more img, .around-more img, .hotel-more img, .flight-more img {
  width: 12px;
  height: 12px;
}

.special-content-wrapper, .market-content-wrapper, .around-wrapper, .hotel-wrapper, .flight-wrapper {
  padding: 0 0 6px 12px;
}

.special-choose span, .area-choose span {
  margin: 17px 0;
  display: inline-block;
  height: 20px;
  line-height: 20px;
  margin-right: 28px;
  padding: 0 6px;
  cursor: pointer;
}

.special-choose span:hover, .area-choose span:hover {
  background: #ffc900;
  font-weight: 800;
}

.special-choose label {
  margin-right: 28px;
  padding-left: 12px;
  border-left: solid #ffc900 4px;
  cursor: pointer;
}

.special-content-detail {
  position: relative;
}

.detail-content {
  display: inline-block;
  width: 228px;
  margin: 0 3px 6px 0;
  cursor: pointer;
}

.detail-content:hover {
  box-shadow: 0 2px 2px rgba(0,0,0,.12);
}

.detail-content img {
  width: 100%;
}

.detail-content-list {
  width: 936px;
}

.destination {
  position: absolute;
  padding: 1px 6px;
  background: #ffc900;
  color: #3d3d3d;
}

.content-description {
  display: inline-block;
  font-size: 14px;
  line-height: 23px;
  text-align: center;
  height: 40px;
  overflow: hidden;
  margin: 12px 12px 5px;
}

.hotel-info {
  height: 19px;
  font-size: 14px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  margin: 12px 12px 3px;
}

.detail-item-info {
  border: 1px solid #f2f3f4;
  border-top-width: 0;
}

.item-price {
  margin-top: 26px;
  padding: 0 12px 12px;
  height: 17px;
  line-height: 17px;
}

.sale-info {
  float: right;
  color: #a5a5a5;
}

.price, .hotel-price span, .flight-price span, .local-item-price span {
  font-size: 16px;
  font-family: "pingfang sc",Arial;
  color: #ff5741;
}

.special-banner, .hotel-filter {
  position: absolute;
  top: 0;
  right: 0;
  margin-right: 12px;
}

.title {
  margin-top: 10px;
  height: 48px;
  background: #fbfbfb;
  padding: 0 12px 0 18px;
  line-height: 48px;
}

.market-logo {
  width: 78px;
  vertical-align: middle;
}

.market-service-list {
  display: inline-block;
  padding-left: 24px;
}

.market-service-list li {
  display: inline;
  margin-right: 22px;
}

.market-service-list img {
  width: 14px;
  height: 14px;
  vertical-align: middle;
  margin-right: 5px;
}

.hot-place {
  float: right;
}

.hot-place-list {
  display: inline-block;
}

.hot-place-list li {
  display: inline;
  padding: 0 6px;
  color: #e90;
  cursor: pointer;
}

.market-search {
  float: right;
  width: 120px;
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  color: #3d3d3d;
  border-radius: 100px;
  text-align: center;
  background: #e1e1e1;
  margin: 9px 0 0 12px;
}

.market-search img {
  width: 12px;
  height: 12px;
  margin-right: 2px;
  vertical-align: middle;
}

.category {
  padding-top: 12px;
}

.category-item {
  position: relative;
  display: inline-block;
  width: 226px;
  height: 60px;
  color: #a5a5a5;
  border: 1px solid #f2f3f4;
  border-radius: 100px;
  line-height: 22px;
  margin-right: 2px;
  cursor: pointer;
}

.category-item-image {
  width: 54px;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.category-item-image img {
  width: 23px;
  height: 23px;
}

.category-item-description {
  position: absolute;
  left: 54px;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
}

.item-begin-price span {
  color: #ff5741;
}

.item-content {
  color: #3d3d3d;
}

.local-play {
  float: left;
  width: 702px;
  height: 358px;
}

.national-tickets {
  float: left;
  width: 468px;
}

.local-play-href, .national-tickets-href, .entrance-ticket-title,
.ranking-title, .hotel-city-title, .city-choose {
  cursor: pointer;
  padding-left: 16px;
  margin: 17px 0;
  height: 20px;
  line-height: 20px;
  border-left: solid #ffc900 4px;
}

.local-play-href img, .national-tickets-href img {
  width: 12px;
  height: 12px;
  vertical-align: middle;
}

.local-play-list li, .national-tickets-list li, .entrance-ticket-list li {
  position: relative;
  display: inline-block;
  background-image: url(//img.alicdn.com/bao/uploaded/i1/100000302774216613/TB228ILXH1K.eBjSszbXXcTHpXa_!!0-0-travel.jpg_360x360.jpg);
  background-position: center top;
  width: 228px;
  height: 146px;
  background-repeat: no-repeat;
  margin: 0 2px 4px 0;
  cursor: pointer;
}

.local-play-item, .national-tickets-item, .entrance-ticket-item {
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  text-align: left;
  padding-top: 12px;
  background-image: linear-gradient(-180deg,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 100%);
}

.item-title {
  text-overflow: ellipsis;
  width: 204px;
  color: #fff;
  white-space: nowrap;
  font-size: 14px;
  margin: 0 12px 5px;
  overflow: hidden;
}

.local-item-price, .hotel-price, .flight-price {
  padding: 0 12px 6px;
  font-family: "pingfang sc",Arial;
  color: #a5a5a5;
}

.around-logo {
  background-position: 0 -74px;
}

.entrance-ticket {
  float: left;
  width: 930px;
}

.entrance-ticket-title, .ranking-title {
  cursor: auto;
}

.ticket-place-list, .hotel-city-list {
  display: inline-block;
}

.ticket-place-list li, .hotel-city-list li {
  display: inline-block;
  cursor: pointer;
  color: #e90;
  padding: 0 6px;
}

.ticket-place-list li:hover, .hotel-city-list li:hover {
  background: #ffc900;
  font-weight: 800;
  color: #3d3d3d;
}

.entrance-ticket-list li:last-child, .entrance-ticket-list li:nth-child(4) {
  margin-right: 0;
}

.ranking {
  float: right;
  width: 228px;
  margin-right: 12px;
}

.ranking-title span {
  float: left;
}

.area-choose {
  float: right;
}

.area-choose span {
  margin: 0;
}

.ranking-icon {
  float: left;
  width: 48px;
  height: 48px;
  border-radius: 48px;
}

.ranking-description {
  float: left;
  margin-left: 20px;
}

.ranking-ribbon {
  width: 49px;
  height: 18px;
  position: absolute;
  top: 21px;
  right: 0;
}

.ranking-list {
  background: #fafafa;
  font-size: 14px;
}

.ranking-list-item {
  position: relative;
  padding: 6px 0 6px 10px;
  overflow: hidden;
  cursor: pointer;
}

.ranking-name {
  line-height: 2;
}

.ranking-price {
  color: #ff5741;
  font-size: 12px;
  line-height: 1;
}

.today-ok, .play-only {
  margin: 2px 12px;
  float: left;
  padding: 0 2px;
  height: 16px;
  border: 1px solid #EE9900;
  color: #EE9900;
  line-height: 16px;
}

.play-only {
  border-color: #A5A5A5;
  color: #666666;
}

.hotel-logo {
  background-position: 0 -97px;
}

.hotel-type {
  color: #a5a5a5;
  margin: 0 0 6px 12px;
}

.hotel-price {
  padding: 0 12px 12px;
}

.hotel-filter {
  background: #fafafa;
  width: 228px;
  font-size: 14px;
}

.mod {
  height: 157px;
  line-height: 2;
}

.mod-title {
  border-top: 6px solid #ffc900;
  color: #e90;
  font-size: 16px;
  padding: 6px 0 0 12px;
}

.mod-list {
  padding-left: 12px;
}

.mod-list li {
  width: 108px;
  float: left;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.mod-list a {
  color: #666;
}

.flight-logo {
  background-position: 0 -121px;
}

.flight-title-right {
  float: right;
  height: 48px;
  color: #e90;
  padding-left: 10px;
}

.city-choose {
  cursor: auto;
}

.city-choose-input {
  display: inline-block;
  overflow: hidden;
  width: 79px;
  height: 20px;
  border: 1px solid #f2f3f4;
  color: black;
}

.flight-select, .flight-city {
  border: 0 none;
  background: white;
}

.flight-select {
  margin-left: -5px;
}

.ticket-item {
  float: left;
  padding: 12px;
  width: 204px;
  margin: 6px 6px 0 0;
  background: #fbfbfb;
  height: 46px;
  color: #3d3d3d;
  position: relative;
}

.route {
  font-size: 14px;
  margin-bottom: 6px;
}

.oneway {
  transform: rotateX(180deg);
  width: 20px;
  height: 20px;
  vertical-align: sub;
}

.flight-price {
  display: inline-block;
  padding: 0;
}

.flight-time {
  position: absolute;
  right: 0;
  bottom: 15px;
  right: 12px;
  color: #a5a5a5;
}

.advertise {
  overflow: hidden;
  margin-top: 10px;
  padding: 40px 0;
  color: #3d3d3d;
  border-top: 3px solid #ffc300;
  border-bottom: 1px solid #e8e8e8;
}

.ad-header {
  font-size: 16px;
  font-weight: 700;
  padding: 0 0 15px;
  font-family: "Microsoft YaHei",simsun;
}

.ad-block-sm {
  width: 21%;
  float: left;
  border-right: 1px solid #e8e8e8;
}

.ad-block-lg {
  width: 35%;
  float: right;
}
.ad-block-lg img {
  float: right;
}

.ad-block-wrapper {
  padding: 0 5px 0 25px;
}

.ad-content li {
  display: inline-block;
  margin: 0 10px 0 0;
  line-height: 1.5;
  cursor: pointer;
}

.ad-content li:hover {
  text-decoration: underline;
}

.relative-company {
  line-height: 26px;
  color: #6c6c6c;
  border-bottom: 1px dashed #e8e8e8;
}

.relative-company li {
  display: inline-block;
}

.relative-company li::after {
  content: ' | ';
}

.relative-company li:last-child::after {
  content: '';
}