body {
  font-family: Raleway,Hiragino Sans GB,sans-serif;
  color: rgba(0,0,0,.65);
}

a {
  color: #108ee9;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.div-1 {
  overflow: hidden;
}

.title-img {
  float: left;
  width: 100px;
  height: 50px;
}

.title-text {
  position: relative;
  top: 10px;
}

.title-link {
  float: right;
  position: relative;
  top: 10px;
  margin-left: 10px;
}

.div-2 {
  background-image: url("../butterfly.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 450px;
}

.first-line {
  padding-top: 14%;
  text-align: center;
}

.second-line {
  text-align: center;
  padding: 0 10%;
}

footer {
  background-color: white;
  overflow: hidden;
  text-align: center;
}

.footer-text-1 {
  float: right;
}

.footer-text-2 {
  clear: right;
  float: right;
}

.footer-link {
  line-height: 2.5;
}

.title-line {
  padding-top: 25px;
  text-align: center;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-img {
  width: 200px;
}

.flex-text {
  text-align: center;
}
