body {
  background-color: #ececec;
  font-family: Raleway,Hiragino Sans GB,sans-serif;
  color: rgba(0,0,0,.65);
}

a {
  color: #108ee9;
  background: transparent;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: color .3s ease;
  transition: color .3s ease;
}

.div-1 {
  overflow: hidden;
  padding-left: 100px;
  padding-right: 100px;
  background-color: #fff;
}

.title-img {
  float: left;
  width: 100px;
  height: 50px;
}

.title-text {
  position: relative;
  top: 10px;
}

.title-link {
  float: right;
  position: relative;
  top: 10px;
  margin-left: 10px;
}

.div-2 {
  margin: 35px 100px 0 100px;
  overflow: hidden;
  background-color: white;
}

li {
  list-style-type: none;
}

.first-nav > li {
  font-weight: bold;
  padding-top: 20px;
}

.first-nav > li:first-child {
  padding-top: 40px;
}

.second-nav > li {
  padding-top: 15px;
}

a {
  text-decoration: none;
}

.nav {
  float: left;
  width: 200px;
}

.content {
  margin-left: 200px;
  border-left-color: #e9e9e9;
  border-left-width: 1px;
  border-left-style: solid;
}

footer {
  margin-top: 35px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: white;
  text-align: center;
}

.footer-text {
  float: right;
  position: relative;
  top: -41px;
}

.footer-link {
  line-height: 2.5;
  padding-left: 10px;
}

.title-line {
  padding-top: 25px;
  text-align: center;
}

.flex-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.flex-img {
  width: 200px;
}

.flex-text {
  text-align: center;
}

.content-title {
  padding-top: 40px;
  padding-left: 30px;
  font-size: 21px;
}

.content-block {
  margin-left: 33px;
  overflow: hidden;
  padding-bottom: 50px;
}

.content-block img {
  width: 100px;
  height: 100px;
  float: left;
  margin-right: 20px;
}

.content-unit {
  width: 45%;
  float: left;
  margin-top: 30px;
  padding-right: 4%;
}

.content-unit-title {
  margin-bottom: 10px;
  padding-top: 1px;
}
